<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Meus Livros</title>

<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="container" id="hello">
        <div class="row">
            <div class="col-12 col-md-12">
                <h1>{{ msg }}</h1>
                <input type="text" class="form-control" v-model="msg" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <h1>Minha Lista</h1>
                <br style="clear: both" />
                <div class="row">
                    <div class="col-12 col-md-12">
                        <ul>
                            <li v-for="pessoa in pessoas">{{ pessoa.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <h1>Nova Lista</h1>
                <input type="text" class="form-control" v-model="newElement" v-on:keyup.enter="addElement" />
                <br style="clear: both" />
                <div class="row">
                    <div class="col-12 col-md-12">
                        <ul>
                            <li v-for="element in elements">
                                {{ element.title }}
                                <a href="#" v-on:click="removeElement($event,element)">x</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <h1>v-on</h1>
                <br style="clear: both" />
                <div class="row">
                    <div class="col-12 col-md-12">
                        <button v-on:click="myClick">Clique</button>
                        <button @click="myClick">@Clique</button>
                        <input type="text" @keyup="myKeyUp" placeholder="key up" />
                        <input type="text" @keyup.enter="myKeyUp" placeholder="key up enter" />
                        <input type="text" @keyup.13="myKeyUp" placeholder="key up 13" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <h1>v-bind</h1>
                <br style="clear: both" />
                <p v-bind:class="{ 'text-danger': 2 === 1, 'text-info': 1 === 1 }">Texto</p>
                <p :class="{ 'text-danger': 2 === 1, 'text-info': 1 === 1 }">:Texto</p>

                <p :style="{fontSize:30 + 'px'}">Style</p>
                <p :style="{'font-size':30 + 'px'}">Style</p>
                <!--<p :style="[objectA,objectB]">Style Object</p>-->
                <!-- <p v-bind:="{ id: 1 === 1, name: true }">bind atributo</p> -->
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <h1>v-model</h1>
                <br style="clear: both" />
                <ul>
                    <li v-for="list in myListForm">
                        {{ list.name }} - {{ list.email }}
                    </li>
                </ul>
                <br style="clear: both" />
                <input type="text" class="form-control" v-model="myForm.name" placeholder="Nome..." />
                <input type="text" class="form-control" v-model="myForm.email" placeholder="E-mail..." />
                <button @click="addForm">Add</button>
            </div>
        </div>
    </div>

<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>