<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Meus Livros</title>

<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-12">
                <h1>Livros</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <input type="search" v-model="MySearch" class="form-control" placeholder="Search">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Título</td>
                            <td>Valor</td>
                            <td>Descrição</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book in books">
                            <td>{{ book.id }}</td>
                            <td>{{ book.title | uppercase }}</td>
                            <td>{{ book.value | currency }}</td>
                            <td>{{ book.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="js/livros.js"></script>
</body>
</html>